.mat-mdc-table {
    td, th {
      text-align: center !important;
      vertical-align: middle !important;
    }
  
    .mat-sort-header-container {
      justify-content: center !important;
    }
  }
  
  // Estilos para la documentación (tabla regular)
  .documentation-table {
    td:first-child {
      text-align: left !important;
    }
    
    td:last-child {
      text-align: center !important;
     }
    }

.mat-sort-header-container {
    justify-content: center !important;
}

mat-icon {
    font-size: 24px;
    transition: color 0.3s ease;
  
    &.hover-blue:hover {
      color: #1976d2; // Azul de Material Design
    }
  
    &.disabled-icon {
      color: rgba(0, 0, 0, 0.26);
      pointer-events: none;
    }
  }