<main class="flex justify-center py-10">
  <div class="sm:w-1/2">
    <h3 class="flex justify-center title-font text-sm text-gray-900 mt-4 mb-2">
      Accede con tu cuenta
    </h3>
    <br />
    <mat-divider></mat-divider>
    <br />
    <form class="" action="#" [formGroup]="form">
      <!-- Pedimos el nombre de usuario -->
      <div class="username-container">
        <label
          for="username"
          class="block mb-2 text-xl font-medium text-gray-900"
          >Nombre de usuario:</label
        >
        <mat-form-field class="w-full">
          <mat-label>Ingresa tu nombre de usuario</mat-label>
          <input
            matInput
            placeholder="Nombre de usuario"
            formControlName="username"
            (blur)="updateErrorMessage()"
            required
          />
          <mat-error
            *ngIf="
              form.get('username')?.invalid && form.get('username')?.touched
            "
          >
            {{ errorMessage() }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Pedimos el password -->
      <div class="password-container">
        <label
          for="password"
          class="block mb-2 text-xl font-medium text-gray-900"
          >Contraseña:</label
        >
        <mat-form-field class="w-full mb-4">
          <mat-label>Ingresa tu contraseña</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide() ? 'password' : 'text'"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              form.get('password')?.invalid && form.get('password')?.touched
            "
          >
            La contraseña es requerida
          </mat-error>
          <mat-error
            *ngIf="
              form.get('password')?.hasError('minlength') &&
              form.get('password')?.touched
            "
          >
            La contraseña debe tener al menos 8 caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <div class="forgot-password-button flex justify-center">
        <a mat-button routerLink="../forgot-password"
          >¿Olvidaste tu contraseña? Da click aquí</a
        >
      </div>
      <br />
      <mat-divider></mat-divider>
      <br />
    </form>
    <div class="next-button">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="w-full"
        (click)="signIn()"
      >
        Ingresar
      </button>
    </div>
  </div>
</main>
