<main class="flex justify-center py-10">
  <div class="sm:w-1/2">
    <h3 class="flex justify-center title-font text-sm text-gray-900 mt-4 mb-2">
      Accede con tu cuenta
    </h3>
    <br />
    <mat-divider></mat-divider>
    <br />
    <form class="" action="#" [formGroup]="form">
      <!-- Pedimos el correo -->
      <div class="email-container">
        <label for="email" class="block mb-2 text-xl font-medium text-gray-900"
          >Correo:</label
        >
        <mat-form-field class="w-full">
          <mat-label>Ingresa tu correo electónico</mat-label>
          <input
            matInput
            placeholder="nombre@ejemplo.com"
            [formControl]="email"
            (blur)="updateErrorMessage()"
            required
          />
          @if (email.invalid && email.touched) {
          <mat-error>{{ errorMessage() }}</mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Pedimos el password -->
      <div class="password-container">
        <label
          for="password"
          class="block mb-2 text-xl font-medium text-gray-900"
          >Contraseña:</label
        >
        <!-- ...existing code... -->
        <mat-form-field class="w-full mb-4">
          <mat-label>Ingresa tu contraseña</mat-label>
          <input
            matInput
            [formControl]="password"
            [type]="hide() ? 'password' : 'text'"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid && password.touched">
            La contraseña es requerida
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength') && password.touched">
            La contraseña debe tener al menos 8 caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <div class="forgot-password-button flex justify-center">
        <a mat-button routerLink="../forgot-password"
          >¿Olvidaste tu contraseña? Da click aquí</a
        >
      </div>
      <br />
      <mat-divider></mat-divider>
      <br />
    </form>
    <div class="next-button">
      <a mat-flat-button extended routerLink="../auth/profile" class="w-full">
        <div
          class="content-center"
          style="display: inline-flex; align-items: right; max-width: 100px"
        >
          Ingresar
        </div>
      </a>
    </div>
  </div>
</main>
