<!-- Contenedor principal -->
<div class="flex justify-center py-10">
  <div class="text-center w-full sm:w-3/4">
    <div class="bg-white border border-gray-400 rounded-lg p-8 shadow">
      <h1 class="text-2xl font-bold mb-4">¡Contáctanos!</h1>
      <p class="mb-6">
        Si quieres registrarte o tienes alguna duda, no dudes en contactarnos.
      </p>

      <section class="text-gray-600 body-font">
        <div
          class="flex flex-col md:flex-row items-stretch justify-center md:space-x-6"
        >
          <!-- Formulario -->
          <form class="w-full md:w-1/2 flex flex-col justify-between">
            <mat-divider></mat-divider>
            <div class="email-container mb-4">
              <label
                for="nombre"
                class="flex mb-2 text-lg font-medium text-gray-900"
                >Nombre:</label
              >
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Ingresa tu nombre</mat-label>
                <input matInput placeholder="Ex. Juán Peréz" />
              </mat-form-field>
            </div>

            <div class="email-container mb-4">
              <label
                for="correo"
                class="flex mb-2 text-lg font-medium text-gray-900"
                >Correo electrónico:</label
              >
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Ingresa tu correo electrónico</mat-label>
                <input matInput placeholder="Ex. juan.perez@example.com" />
              </mat-form-field>
            </div>

            <div class="email-container mb-4">
              <label
                for="asunto"
                class="flex mb-2 text-lg font-medium text-gray-900"
                >Asunto:</label
              >
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Ingresa tu asunto</mat-label>
                <input matInput placeholder="Asunto de tu mensaje" />
              </mat-form-field>
            </div>

            <div class="email-container mb-6">
              <label
                for="mensaje"
                class="flex mb-2 text-lg font-medium text-gray-900"
                >Mensaje:</label
              >
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>¿Cómo podemos ayudarte?</mat-label>
                <textarea
                  matInput
                  placeholder="Ex. ¿cómo registro un curso?"
                ></textarea>
              </mat-form-field>
              <mat-divider></mat-divider>
            </div>

            <div>
              <button
                mat-flat-button
                class="bg-blue-500 text-white w-full py-2 rounded-md"
                (click)="onSubmit()"
              >
                <span class="inline-flex items-center">
                  Enviar
                  <mat-icon style="margin-left: 8px">send</mat-icon>
                </span>
              </button>
            </div>
          </form>

          <!-- Mapa -->
          <div class="hidden md:flex w-full md:w-1/2 mt-8 md:mt-0 border">
            <div
              class="map-container border rounded-md overflow-hidden flex-grow"
              style="width: 100%; height: auto"
            >
              <iframe
                class="w-full h-full"
                style="border: 0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCwudOXGakwEzq7ZZ0mXttKZnwtlUzqaaE&q=Dirección+de+Vinculación+y+Desarrollo+Regional+del+IPN+(antes+DEC),+Gustavo+A.+Madero,+CDMX"
              >
              </iframe>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
