<section class="">
  <div class="container px-24 py-1 mx-auto">
    <div class="flex justify-center w-full py-16">
      <div class="lg:w-1/2 w-full lg:mb-0">
        <p
          class="flex justify-center sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"
        >
          Bienvenido USUARIO
        </p>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="card bg-gray-100 p-6 rounded-lg">
          <img
            class="h-40 rounded w-full object-cover object-center mb-6"
            src="https://dummyimage.com/600x400/000/fff"
            alt="content"
          />
          <h3 class="tracking-widest text-pink-900 text-xs">
            Registro de Curso
          </h3>
          <p class="leading-relaxed text-base">Registra cursos y diplomados.</p>
          <a
            mat-flat-button
            extended
            routerLink="../course-register"
            class="w-full"
          >
            <div
              class="content-center align-middle"
              style="display: inline-flex; align-items: right"
            >
              Siguiente
              <mat-icon style="margin-left: 8px">arrow_right_alt</mat-icon>
            </div>
          </a>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="card bg-gray-100 p-6 rounded-lg">
          <img
            class="h-40 rounded w-full object-cover object-center mb-6"
            src="https://dummyimage.com/600x400/000/fff"
            alt="content"
          />

          <h3
            class="tracking-widest text-pink-900 text-xs font-medium title-font"
          >
            Solicitar Apertura
          </h3>
          <p class="leading-relaxed text-base">
            Solicita la apertura de un curso o diplomado.
          </p>
          <a
            mat-flat-button
            extended
            routerLink="../request-aperture"
            class="w-full"
          >
            <div
              class="content-center align-middle"
              style="display: inline-flex; align-items: center"
            >
              Siguiente
              <mat-icon style="margin-left: 8px">arrow_right_alt</mat-icon>
            </div>
          </a>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="card bg-gray-100 p-6 rounded-lg">
          <img
            class="h-40 rounded w-full object-cover object-center mb-6"
            src="https://dummyimage.com/600x400/000/fff"
            alt="content"
          />

          <h3
            class="tracking-widest text-pink-900 text-xs font-medium title-font"
          >
            Solictar Constancias
          </h3>
          <p class="leading-relaxed text-base">
            Solicita las constancias de un curso o diplomado.
          </p>
          <a mat-flat-button extended routerLink="../login" class="w-full">
            <div
              class="content-center align-middle"
              style="display: inline-flex; align-items: center"
            >
              Siguiente
              <mat-icon style="margin-left: 8px">arrow_right_alt</mat-icon>
            </div>
          </a>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="card bg-gray-100 p-6 rounded-lg">
          <img
            class="h-40 rounded w-full object-cover object-center mb-6"
            src="https://dummyimage.com/600x400/000/fff"
            alt="content"
          />

          <h3
            class="tracking-widest text-pink-900 text-xs font-medium title-font"
          >
            Ver mis registros
          </h3>
          <p class="leading-relaxed text-base">
            Ver todos mis registros de cursos y diplomados.
          </p>
          <a mat-flat-button extended routerLink="../my-courses" class="w-full">
            <div
              class="content-center align-middle"
              style="display: inline-flex; align-items: center"
            >
              Siguiente
              <mat-icon style="margin-left: 8px">arrow_right_alt</mat-icon>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
