<section class="body-font">
  <div class="container px-1 py-1 mx-auto">
    <main class="flex justify-center items-center py-16">
      <div
        class="flex justify-center space-x-20 text-center w-full bg-white rounded-lg p-10 border border-gray-400 shadow sm:w-11/12"
      >
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2">
                Bienvenido USUARIO
              </h1>
              <div class="h-1 w-96 bg-pink-900"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed">
              Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical
              gentrify, subway tile poke farm-to-table. Franzen you probably
              haven't heard of them man bun deep jianbing selfies heirloom prism
              food truck ugh squid celiac humblebrag.
            </p>
          </div>
          <div class="flex justify-center -m-4 space-x-4">
            <div
              class="card bg-gray-100 xl:w-1/4 md:w-1/2 p-4 rounded-lg max-w-md shadow"
            >
              <div class="p-6 rounded-lg">
                <img
                  class="h-40 rounded w-full object-cover object-center mb-6"
                  src="https://dummyimage.com/600x400/000/fff"
                  alt="content"
                />
                <h3 class="tracking-widest text-pink-900 text-xs">
                  Registro de Curso
                </h3>
                <p class="leading-relaxed text-base">
                  Fingerstache flexitarian street art 8-bit waistcoat.
                  Distillery hexagon disrupt edison bulbche.
                </p>
              </div>
              <a mat-flat-button extended routerLink="../course-register">
                <div
                  class="content-center align-middle"
                  style="display: inline-flex; align-items: center"
                >
                  Siguiente
                  <mat-icon style="margin-left: 8px">arrow_right_alt</mat-icon>
                </div>
              </a>
            </div>

            <div
              class="card bg-gray-100 xl:w-1/4 md:w-1/2 p-4 rounded-lg max-w-md shadow"
            >
              <div class="p-6 rounded-lg">
                <img
                  class="h-40 rounded w-full object-cover object-center mb-6"
                  src="https://dummyimage.com/600x400/000/fff"
                  alt="content"
                />
                <h3
                  class="tracking-widest text-pink-900 text-xs font-medium title-font"
                >
                  Solicitar Apertura
                </h3>
                <p class="leading-relaxed text-base">
                  Fingerstache flexitarian street art 8-bit waistcoat.
                  Distillery hexagon disrupt edison bulbche.
                </p>
              </div>
              <a mat-flat-button extended routerLink="../request-aperture">
                <div
                  class="content-center align-middle"
                  style="display: inline-flex; align-items: center"
                >
                  Siguiente
                  <mat-icon style="margin-left: 8px">arrow_right_alt</mat-icon>
                </div>
              </a>
            </div>

            <div
              class="card bg-gray-100 xl:w-1/4 md:w-1/2 p-4 rounded-lg max-w-md shadow"
            >
              <div class="p-6 rounded-lg">
                <img
                  class="h-40 rounded w-full object-cover object-center mb-6"
                  src="https://dummyimage.com/600x400/000/fff"
                  alt="content"
                />
                <h3
                  class="tracking-widest text-pink-900 text-xs font-medium title-font"
                >
                  Solictar Constancias
                </h3>

                <p class="leading-relaxed text-base">
                  Fingerstache flexitarian street art 8-bit waistcoat.
                  Distillery hexagon disrupt edison bulbche.
                </p>
              </div>
              <a mat-flat-button extended routerLink="../login">
                <div
                  class="content-center align-middle"
                  style="display: inline-flex; align-items: center"
                >
                  Siguiente
                  <mat-icon style="margin-left: 8px">arrow_right_alt</mat-icon>
                </div>
              </a>
            </div>
            <div
              class="card bg-gray-100 xl:w-1/4 md:w-1/2 p-4 rounded-lg max-w-md shadow"
            >
              <div class="p-6 rounded-lg">
                <img
                  class="h-40 rounded w-full object-cover object-center mb-6"
                  src="https://dummyimage.com/600x400/000/fff"
                  alt="content"
                />
                <h3
                  class="tracking-widest text-pink-900 text-xs font-medium title-font"
                >
                  Ver mis registros
                </h3>
                <p class="leading-relaxed text-base">
                  Fingerstache flexitarian street art 8-bit waistcoat.
                  Distillery hexagon disrupt edison bulbche.
                </p>
              </div>
              <a mat-flat-button extended routerLink="../my-courses">
                <div
                  class="content-center align-middle"
                  style="display: inline-flex; align-items: center"
                >
                  Siguiente
                  <mat-icon style="margin-left: 8px">arrow_right_alt</mat-icon>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>
