<div class="dialog-container flex flex-col h-full">
  <div class="text-center">
    <h2 mat-dialog-title>
      <div class="course-title text-2xl font-bold">
        Información General del Curso
      </div>
      <div class="course-key text-xl">{{ data.courseKey }}</div>
    </h2>
  </div>

  <mat-dialog-content class="mt-4 flex-grow">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
      <!-- Información del Curso -->
      <div class="info-group">
        <h3 class="text-lg font-bold">Datos del Curso</h3>
        <p><strong>Nombre:</strong> {{ data.courseInfo.courseName }}</p>
        <p>
          <strong>Tipo de Servicio:</strong> {{ data.courseInfo.serviceType }}
        </p>
        <p><strong>Categoría:</strong> {{ data.courseInfo.category }}</p>
        <p>
          <strong>Duración Total:</strong>
          {{ data.courseInfo.totalDuration }} horas
        </p>
        <p><strong>Modalidad:</strong> {{ data.courseInfo.modality }}</p>

        <div *ngIf="formattedPlatforms && formattedPlatforms.length > 0">
          <p><strong>Plataformas Educativas:</strong></p>
          <div class="platform-list">
            <ul>
              <li *ngFor="let platform of formattedPlatforms">
                {{ platform }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Información Adicional -->
      <div class="info-group">
        <h3 class="text-lg font-bold">Detalles Adicionales</h3>
        <p><strong>Creado por:</strong> {{ data.createdBy }}</p>
        <p>
          <strong>Fecha de Creación:</strong>
          {{ data.createdAt | date : "dd/MM/yyyy" }}
        </p>
        <p>
          <strong>Fecha de Expiración:</strong>
          {{ data.expirationDate | date : "dd/MM/yyyy" }}
        </p>
        <p>
          <strong>Oferta Educativa:</strong>
          {{ data.courseInfo.educationalOffer }}
        </p>
        <p>
          <strong>Convenio:</strong>
          {{ data.courseInfo.agreement || "No especificado" }}
        </p>
        <p><strong>Número de Renovaciones:</strong> {{ data.renewalCount }}</p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="mt-4 pb-2 w-full flex justify-end">
    <button
      mat-flat-button
      color="primary"
      mat-dialog-close
      class="w-full py-2"
    >
      Cerrar
    </button>
  </mat-dialog-actions>
</div>
