<h2 mat-dialog-title>Evidencia Académica</h2>
<mat-dialog-content class="flex justify-center w-full">
  <form [formGroup]="evidenceForm">
    <div class="py-2">
      <label for="nivel" class="flex mb-2 text-x font-medium text-gray-900"
        >Grado académico</label
      >
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Grado académico</mat-label>
        <mat-select formControlName="nivelAcademico">
          <mat-option value="Licenciatura / Ingeniería"
            >Licenciatura / Ingeniería</mat-option
          >
          <mat-option value="Especialización">Especialización</mat-option>
          <mat-option value="Maestría">Maestría</mat-option>
          <mat-option value="Doctorado">Doctorado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="fechas-container py-2">
      <label for="fechas" class="flex text-x mb-2 font-medium text-gray-900"
        >Periodo</label
      >
      <div class="fechas-inputs-container">
        <div class="fechas-input">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Año de inicio</mat-label>
            <input matInput formControlName="anioInicio" type="number" />
          </mat-form-field>
        </div>
        <div class="fechas-input">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Año de conclusión</mat-label>
            <input matInput formControlName="anioFin" type="number" />
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="flex gap-4">
      <div class="flex-1 w-1/2">
        <mat-form-field class="w-full">
          <mat-label>Mes y año de inicio</mat-label>
          <input matInput [matDatepicker]="startDp" [formControl]="startDate" />
          <mat-hint>MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startDp"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #startDp
            startView="multi-year"
            (monthSelected)="setMonthAndYear($event, startDp, startDate)"
            panelClass="example-month-picker"
          >
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="flex-1 w-1/2">
        <mat-form-field class="w-full">
          <mat-label>Mes y año de fin</mat-label>
          <input matInput [matDatepicker]="endDp" [formControl]="endDate" />
          <mat-hint>MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="endDp"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #endDp
            startView="multi-year"
            (monthSelected)="setMonthAndYear($event, endDp, endDate)"
            panelClass="example-month-picker"
          >
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div> -->
    </div>

    <div class="py-2">
      <label for="titulo" class="flex mb-2 text-x font-medium text-gray-900"
        >Título otorgado</label
      >
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Título otorgado</mat-label>
        <input
          matInput
          formControlName="tituloOtorgado"
          placeholder="Ej: Ingeniero"
        />
      </mat-form-field>
    </div>

    <div>
      <label
        for="institución"
        class="flex mb-2 text-x font-medium text-gray-900"
        >Institución</label
      >

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Institución</mat-label>
        <input
          matInput
          formControlName="institucion"
          placeholder="Ej: Universidad X"
        />
      </mat-form-field>
    </div>

    <div>
      <label for="evidencia" class="flex text-x font-medium text-gray-900">
        Adjunta tu evidencia
      </label>

      <!-- Chips to display selected PDFs -->
      <mat-chip-grid #chipGrid class="flex">
        <mat-chip
          *ngIf="selectedFiles.length > 0"
          (removed)="removeFile(selectedFiles[0])"
        >
          {{ selectedFiles[0].name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-grid>

      <div class="xl:p-2 bg-white">
        <input
          [matChipInputFor]="chipGrid"
          #onInput
          hidden="true"
          type="file"
          onclick="this.value=null"
          (change)="onInputChange($event)"
          accept=".pdf"
        />
        <button mat-flat-button (click)="onInput.click()">
          <mat-icon>attach_file</mat-icon>Adjuntar documento (PDF)
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>

<div>
  <mat-dialog-actions>
    <button mat-stroked-button (click)="closeDialog()">Cancelar</button>
    <button mat-stroked-button color="primary" (click)="addEvidence()">
      Añadir evidencia
    </button>
  </mat-dialog-actions>

  <!-- 
<div class="fechas-container py-5">
    <label for="fechas" class="flex mb-2 text-x font-medium text-gray-900"
      >Fechas de aplicación</label
    >
    <mat-form-field class="w-full">
      <mat-label>Ingresa el periodo de aplicación de tu curso</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Fecha de inicio"
          formControlName="fechaInicio"
        />
        <input
          matEndDate
          placeholder="Fecha final"
          formControlName="fechaFin"
        />
      </mat-date-range-input>
      <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div> -->
</div>
