.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
.example-month-picker .mat-calendar-arrow {
    display: none;
  }

  .fechas-inputs-container {
    display: flex;
    gap: 16px; /* Espacio entre los inputs */
  }
  
  .fechas-input {
    flex: 1; /* Hace que los inputs ocupen el mismo espacio */
  }