<nav
  class="bg-white text-gray-600 body-font shadow-md sticky w-full top-0 left-0 right-0 z-50"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3"
  >
    <a
      routerLink="../home"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img src="/img/DVDRHorizontal.png" alt="Logo" width="200px" />
    </a>
    <div id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white"
      >
        <!-- Mostrar el menú solo si isLoggedInAndProfile() es true -->
        <ul
          *ngIf="isLoggedInAndProfile()"
          class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0"
        >
          <li>
            <a>
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
                class="navbar-button"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  routerLink="../profile/instructor-register"
                >
                  <mat-icon>person_add</mat-icon>
                  <span>Registrar Instructor</span>
                </button>
                <a
                  mat-menu-item
                  href="https://view.genially.com/67b4b85dc320d1d4c51b224e/guide-cursos-vigentes"
                  target="_blank"
                  rel="noopener"
                >
                  <mat-icon>book</mat-icon>
                  <span>Ver catálogo de cursos vigentes</span>
                </a>
                <button mat-menu-item (click)="logout()" class="logout-button">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Cerrar sesión</span>
                </button>
              </mat-menu>
            </a>
          </li>

          <li>
            <button
              mat-icon-button
              (click)="goToRejectionMessages()"
              class="navbar-button"
              [matBadge]="unreadRejectionMessages"
              [matBadgeHidden]="unreadRejectionMessages === 0"
              matBadgeColor="warn"
              [style.--mdc-badge-size]="'22px'"
              style="--mat-badge-font-size: 12px"
            >
              <mat-icon>notifications</mat-icon>
            </button>
          </li>
          <li>
            <a>
              <button
                mat-icon-button
                routerLink="../profile/dashboard"
                class="navbar-button"
              >
                <mat-icon>home</mat-icon>
              </button>
            </a>
          </li>
        </ul>
        <ul
          *ngIf="isLoggedInAndAdmin()"
          class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0"
        >
          <li>
            <button
              mat-icon-button
              (click)="goToMessages()"
              class="navbar-button"
              [matBadge]="unattendMessages"
              [matBadgeHidden]="unattendMessages === 0"
              matBadgeColor="accent"
              [style.--mdc-badge-size]="'22px'"
              style="--mat-badge-font-size: 12px"
            >
              <mat-icon>mail</mat-icon>
            </button>
          </li>
          <li>
            <a>
              <button
                mat-icon-button
                [matMenuTriggerFor]="rootMenu"
                aria-label="Root menu"
                class="navbar-button"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #rootMenu="matMenu">
                <button mat-menu-item (click)="logout()" class="logout-button">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Cerrar sesión</span>
                </button>
              </mat-menu>
            </a>
          </li>
        </ul>

        <ul
          *ngIf="isLoggedInAndVerifier()"
          class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0"
        >
          <li>
            <a>
              <button
                mat-icon-button
                [matMenuTriggerFor]="verifierMenu"
                aria-label="Verifier menu"
                class="navbar-button"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #verifierMenu="matMenu">
                <button mat-menu-item routerLink="../verification/dashboard">
                  <mat-icon>dashboard</mat-icon>
                  <span>Dashboard</span>
                </button>
                <button
                  mat-menu-item
                  routerLink="../verification/course-register-request"
                >
                  <mat-icon>school</mat-icon>
                  <span>Verificar cursos</span>
                </button>
                <button mat-menu-item (click)="logout()" class="logout-button">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Cerrar sesión</span>
                </button>
              </mat-menu>
            </a>
          </li>
          <li>
            <a>
              <button
                mat-icon-button
                routerLink="../verification/dashboard"
                class="navbar-button"
              >
                <mat-icon>home</mat-icon>
              </button>
            </a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
