<div
  class="flex flex-col items-center pt-10 md:pt-24 lg:pt-16 bg-slate-50 text-gray-800"
>
  <!-- Error Icon/Illustration -->
  <div class="mb-8 w-full text-center">
    <div class="error-number text-9xl font-bold text-pink-700 mb-4">404 :(</div>
    <div class="relative flex justify-center">
      <div class="error-circle absolute"></div>
    </div>
  </div>

  <!-- Content -->
  <div class="text-center max-w-lg mx-auto px-4">
    <h1 class="text-4xl font-bold md:text-5xl mb-4 text-gray-800">
      No podemos encontrar esta página
    </h1>
    <p class="text-base md:text-lg text-gray-600">
      Lo sentimos, la página a la que tratas de acceder no existe o ha sido
      movida.
    </p>

    <div class="flex flex-col sm:flex-row gap-4 justify-center">
      <a
        mat-button
        routerLink="../home"
        class="inline-flex items-center justify-center"
      >
        <mat-icon>arrow_back</mat-icon>
        <span>Regresar al inicio</span>
      </a>
    </div>
  </div>
</div>
