<section class="text-gray-600 body-font">
  <div class="container px-1 py-1 mx-auto">
    <main class="items-center space-x-4 py-16">
      <div class="flex justify-center space-x-40 text-center">
        <!-- Componente de Acceder -->
        <div
          class="bg-white mb-10 px-4 border border-gray-400 rounded-lg max-w-md p-6 shadow"
        >
          <div class="rounded-lg mb-8 overflow-hidden">
            <img
              src="/img/home-buttons/Acceder.png"
              alt="Banner"
              class="object-cover"
            />
          </div>
          <!-- <h2 class="title-font text-2xl font-medium text-gray-900 mt-4 mb-2">
            Acceder
          </h2> -->
          <p class="leading-relaxed text-base">
            Accede a tu cuenta para continuar disfrutando de nuestros servicios.
          </p>
          <a mat-flat-button extended routerLink="../login">
            <div
              class="content-center align-middle"
              style="display: inline-flex; align-items: center"
            >
              Siguiente
              <mat-icon style="margin-left: 8px">arrow_right_alt</mat-icon>
            </div>
          </a>
        </div>

        <!-- Componente de Contáctanos -->
        <div
          class="bg-white mb-10 px-4 border border-gray-400 rounded-lg max-w-md p-6 shadow"
        >
          <div class="rounded-lg mb-8 overflow-hidden">
            <img
              src="/img/home-buttons/Contactanos.png"
              alt="Banner"
              class="object-cover"
            />
          </div>
          <!-- <h2 class="title-font text-2xl font-medium text-gray-900 mt-4 mb-2">
            Contáctanos
          </h2> -->
          <p class="leading-relaxed text-base mb-4">
            Ponte en contacto con nosotros para obtener más información o
            resolver dudas.
          </p>
          <a mat-flat-button extended routerLink="../contact-us">
            <div
              class="content-center align-middle"
              style="display: inline-flex; align-items: center"
            >
              Contacto
              <mat-icon style="margin-left: 8px">arrow_right_alt</mat-icon>
            </div>
          </a>
        </div>
      </div>
    </main>
  </div>
</section>
