<section class="text-gray-600 body-font">
  <div class="container px-1 py-1 mx-auto">
    <main class="items-center space-x-4 py-10">
      <div class="flex justify-center space-x-40 text-center">
        <!-- Componente de Acceder -->
        <div
          class="bg-white sm:w-1/2 mb-10 px-4 border border-gray-400 rounded-lg max-w-sm p-6 shadow"
        >
          <div class="rounded-lg h-64 overflow-hidden mb-4">
            <img
              alt="content"
              class="object-cover object-center h-full w-full"
              src="https://dummyimage.com/1201x501"
            />
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-4 mb-2">
            Acceder
          </h2>
          <p class="leading-relaxed text-base mb-4">
            Accede a tu cuenta para continuar disfrutando de nuestros servicios.
          </p>
          <a
            routerLink="../login"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Iniciar Sesión
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>

        <!-- Componente de Contáctanos -->
        <div
          class="bg-white sm:w-1/2 mb-10 px-4 border border-gray-400 rounded-lg max-w-sm p-6 shadow"
        >
          <div class="rounded-lg h-64 overflow-hidden mb-4">
            <img
              alt="content"
              class="object-cover object-center h-full w-full"
              src="https://dummyimage.com/1202x502"
            />
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-4 mb-2">
            Contáctanos
          </h2>
          <p class="leading-relaxed text-base mb-4">
            Ponte en contacto con nosotros para obtener más información o
            resolver dudas.
          </p>
          <a
            routerLink="../login"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Contacto
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </main>
  </div>
</section>
