<main class="flex justify-center py-10">
  <div class="sm:w-5/6">
    <div class="bg-white border border-gray-400 rounded-lg p-8 shadow">
      <div class="xl:p-10 bg-white">
        <div class="space-x-40 text-center">
          <h1 class="heading">Solicitar Apertura</h1>
        </div>
        <div class="mt-16 mb-6 flex flex-wrap gap-4">
          <div class="flex-1">
            <strong>Nombre del curso:</strong> {{ title }}
          </div>
          <div class="flex-1"><strong>Clave:</strong> {{ clave }}</div>
        </div>
        <form [formGroup]="solicitudForm">
          <div class="flex flex-wrap gap-4 py-5">
            <!-- COSTO UNITARIO DEL CURSO -->
            <div class="currency-container flex-1 min-w-[200px]">
              <label
                for="costo-unitario"
                class="flex mb-2 text-xl font-medium text-gray-900"
              >
                Costo unitario del curso
              </label>
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Costo en pesos</mat-label>
                <span matTextPrefix>
                  <mat-icon>attach_money</mat-icon>
                </span>
                <input
                  matInput
                  type="number"
                  placeholder="Ex. 2500"
                  min="0"
                  formControlName="costoUnitario"
                />
                <span matTextSuffix>MXN &nbsp;</span>
                <mat-error *ngIf="solicitudForm.get('costoUnitario')?.invalid">
                  {{ getCostoUnitarioErrorMessage() }}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- PARTICIPANTES DEL CURSO -->
            <div class="Participants-container flex-1 min-w-[200px]">
              <label
                for="Participants"
                class="flex mb-2 text-xl font-medium text-gray-900"
              >
                No. de participantes
              </label>
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>No. de asistentes al curso</mat-label>
                <input
                  matInput
                  placeholder="Ex. 10"
                  type="number"
                  min="1"
                  formControlName="numParticipantes"
                />
                <mat-error
                  *ngIf="solicitudForm.get('numParticipantes')?.invalid"
                >
                  {{ getNumParticipantesErrorMessage() }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>

        <mat-divider></mat-divider>

        <!-- GENERAR CRONOGRAMA -->
        <div class="people-container py-5">
          <label
            for="people"
            class="flex mb-5 text-xl font-medium text-gray-900"
            >Cronograma</label
          >

          <a
            mat-flat-button
            extended
            class="w-full"
            (click)="openDialog('0ms', '0ms')"
          >
            <div
              class="content-center align-middle"
              style="display: inline-flex; align-items: center"
            >
              <mat-icon style="margin-right: 8px">date_range</mat-icon>
              Generar cronograma
            </div>
          </a>
        </div>

        <!-- MAT-TABLE PARA MOSTRAR EL CRONOGRAMA GENERADO -->
        <div *ngIf="generatedSchedule.length > 0" class="mt-8">
          <button mat-stroked-button (click)="viewSchedule()">
            <mat-icon>calendar_view_month</mat-icon>
            Ver cronograma generado
          </button>
        </div>

        <!-- Botón "Solicitar apertura de Curso" -->
        <div class="flex justify-end mt-5">
          <button mat-flat-button color="primary" (click)="solicitarApertura()">
            <span class="inline-flex items-center">
              Solicitar apertura de Curso
              <mat-icon style="margin-left: 8px">send</mat-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
