td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}

.dialog-title {
    text-align: center;
  }
  .dialog-content {
    margin: 16px;
  }
  .dialog-actions {
    margin: 16px;
  }