<main class="flex justify-center py-10">
  <div class="sm:w-5/6">
    <div class="bg-white border border-gray-400 rounded-lg p-8 shadow">
      <div class="space-x-40 text-center">
        <h1 class="heading">Solicitar Apertura de curso</h1>
      </div>

      <table mat-table [dataSource]="dataSource">
        <!-- Número de fila -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let course; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Nombre del curso -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Nombre del curso</th>
          <td mat-cell *matCellDef="let course">{{ course.title }}</td>
        </ng-container>

        <!-- Clave del curso -->
        <ng-container matColumnDef="clave">
          <th mat-header-cell *matHeaderCellDef>CLAVE</th>
          <td mat-cell *matCellDef="let course">{{ course.clave }}</td>
        </ng-container>

        <!-- Botón Solicitar -->
        <ng-container matColumnDef="solicitar">
          <th mat-header-cell *matHeaderCellDef>Acción</th>
          <td mat-cell *matCellDef="let course">
            <button
              mat-button
              [disabled]="!isSolicitudHabilitada(course)"
              (click)="solicitarApertura(course)"
            >
              Solicitar
            </button>
          </td>
        </ng-container>

        <!-- Header y filas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</main>
