<main class="flex justify-center py-10">
  <div class="sm:w-5/6">
    <div class="bg-white border border-gray-400 rounded-lg p-8 shadow">
      <div class="space-x-40 text-center">
        <h1 class="heading">Solicitar apertura de curso</h1>
      </div>

      <table mat-table [dataSource]="dataSource">
        <!-- Número de fila -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let course; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Nombre del curso -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Nombre del curso</th>
          <td mat-cell *matCellDef="let course">{{ course.title }}</td>
        </ng-container>

        <!-- Clave del curso -->
        <ng-container matColumnDef="clave">
          <th mat-header-cell *matHeaderCellDef>CLAVE</th>
          <td mat-cell *matCellDef="let course">{{ course.clave || "-" }}</td>
        </ng-container>

        <!-- Botón Solicitar -->
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef>Acción</th>
          <td mat-cell *matCellDef="let course">
            <button
              mat-button
              *ngIf="
                !isCursoExpirado(course) &&
                course.approvalStatus === 'approved' &&
                course.verificationStatus === 'approved'
              "
              (click)="solicitarApertura(course)"
            >
              Solicitar
            </button>

            <button
              mat-button
              *ngIf="
                isCursoExpirado(course) &&
                course.approvalStatus === 'approved' &&
                course.verificationStatus === 'approved'
              "
              class="bg-red-500 text-white px-4 py-2 rounded"
              (click)="renovarCurso(course)"
            >
              Renovar
            </button>

            <button
              mat-button
              *ngIf="
                course.approvalStatus === 'pending' ||
                course.verificationStatus === 'pending'
              "
              disabled
            >
              Curso en revisión
            </button>

            <button
              mat-button
              *ngIf="
                course.approvalStatus === 'rejected' ||
                course.verificationStatus === 'rejected'
              "
              disabled
            >
              Curso rechazado, revisar correcciones
            </button>
          </td>
        </ng-container>
        <!-- Header y filas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <!-- Mensaje cuando no hay cursos -->
      <div *ngIf="dataSource.data.length === 0" class="text-center py-8">
        <p>No hay cursos disponibles para solicitar apertura</p>
      </div>
    </div>

    <!-- Nueva sección de aperturas pendientes -->
    <div class="bg-white border border-gray-400 rounded-lg p-8 shadow">
      <div class="text-center mb-6">
        <h2 class="heading">Mis solicitudes de apertura</h2>
      </div>

      <table mat-table [dataSource]="pendingAperturesDataSource" class="w-full">
        <ng-container matColumnDef="courseKey">
          <th mat-header-cell *matHeaderCellDef>Clave</th>
          <td mat-cell *matCellDef="let element">{{ element.courseKey }}</td>
        </ng-container>

        <ng-container matColumnDef="courseName">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.courseName }}</td>
        </ng-container>

        <ng-container matColumnDef="period">
          <th mat-header-cell *matHeaderCellDef>Periodo</th>
          <td mat-cell *matCellDef="let element">{{ element.period }}</td>
        </ng-container>

        <ng-container matColumnDef="participants">
          <th mat-header-cell *matHeaderCellDef>Participantes</th>
          <td mat-cell *matCellDef="let element">
            {{ element.numberOfParticipants }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef>Costo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.cost | currency }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <!-- Status badge -->
            <span
              [ngClass]="{
                'px-2 py-1 rounded-full text-xs font-medium mr-2': true,
                'bg-yellow-100 text-yellow-800':
                  element.approvalStatus === 'pending',
                'bg-green-100 text-green-800':
                  element.approvalStatus === 'approved',
                'bg-red-100 text-red-800': element.approvalStatus === 'rejected'
              }"
            >
              {{
                element.approvalStatus === "pending"
                  ? "Pendiente"
                  : element.approvalStatus === "approved"
                  ? "Aprobado"
                  : "Rechazado"
              }}
            </span>

            <!-- Signature badge -->
            <span
              [ngClass]="{
                'px-2 py-1 rounded-full text-xs font-medium': true,
                'bg-blue-100 text-blue-800': !element.signed,
                'bg-purple-100 text-purple-800': element.signed
              }"
            >
              {{ element.signed ? "Firmado" : "Requiere firma" }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <!-- Solo icono para descargar formato -->
            <mat-icon
              class="cursor-pointer text-blue-600"
              matTooltip="Descargar formato"
              (click)="generatePDF(element)"
            >
              picture_as_pdf
            </mat-icon>

            <!-- Botón de subir firmado si no está firmado aún -->
            <button
              *ngIf="!element.signed && element.approvalStatus === 'pending'"
              mat-icon-button
              color="accent"
              (click)="uploadSignedDocument(element.sessionId)"
              matTooltip="Subir firmado"
            >
              <mat-icon>upload</mat-icon>
            </button>

            <!-- Icono de check si el elemento ya está firmado -->
            <mat-icon
              *ngIf="element.signed"
              class="text-green-600 ml-2"
              matTooltip="Solictud completada, por favor espera la revisión"
            >
              check_circle
            </mat-icon>

            <!-- Icono de cancel para estados no pendientes y no firmados -->
            <mat-icon
              *ngIf="!element.signed && element.approvalStatus !== 'pending'"
              class="text-red-600 ml-2"
              matTooltip="No se puede modificar"
            >
              cancel
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="pendingAperturesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: pendingAperturesColumns"></tr>
      </table>

      <div
        *ngIf="pendingAperturesDataSource.data.length === 0"
        class="text-center py-8"
      >
        <p>Aún no has solicitado ninguna apertura</p>
      </div>
    </div>
  </div>
</main>
