<main class="flex justify-center py-10">
  <div class="sm:w-5/6">
    <div class="bg-white border border-gray-400 rounded-lg p-8 shadow">
      <h1 class="heading text-center mb-6">Solicitar Constancias</h1>
      <table mat-table [dataSource]="completedSessions" class="w-full">
        <!-- Columna Nombre del Curso -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Curso</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <!-- Columna Clave -->
        <ng-container matColumnDef="clave">
          <th mat-header-cell *matHeaderCellDef>Clave</th>
          <td mat-cell *matCellDef="let element">{{ element.clave }}</td>
        </ng-container>

        <!-- Columna Periodo -->
        <ng-container matColumnDef="periodo">
          <th mat-header-cell *matHeaderCellDef>Periodo</th>
          <td mat-cell *matCellDef="let element">{{ element.periodo }}</td>
        </ng-container>

        <!-- Columna de Acción -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Acción</th>
          <td mat-cell *matCellDef="let element">
            <!-- Mostrar icono para ver constancia si ya está entregada -->
            <button
              mat-icon-button
              *ngIf="element.certificatesDelivered"
              (click)="viewCertificateLetter(element.sessionId)"
              matTooltip="Ver oficio de constancias"
            >
              <mat-icon>description</mat-icon>
            </button>

            <!-- Mostrar botón de solicitud si no está entregada -->
            <button
              mat-button
              color="primary"
              *ngIf="!element.certificatesDelivered"
              (click)="requestCertificate(element)"
              [disabled]="element.certificatesRequested"
              [ngClass]="{
                'opacity-50 cursor-not-allowed': element.certificatesRequested
              }"
            >
              {{
                element.certificatesRequested
                  ? "Constancias Solicitadas"
                  : "Solicitar Constancias"
              }}
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="!completedSessions?.length" class="text-center py-8">
        <p>No tienes sesiones completadas para solicitar constancias</p>
      </div>
    </div>
  </div>
</main>
