<form [formGroup]="form">
  <!-- INPUT PARA DURACIÓN TOTAL DEL CURSO EN HORAS -->
  <div class="duracion-container mb-2 mt-4">
    <label for="duracion" class="flex mb-2 text-x font-medium text-gray-900"
      >Duración total del curso (en horas)</label
    >
    <mat-form-field class="w-full">
      <mat-label>¿Cuántas horas durará el curso?</mat-label>
      <input
        matInput
        placeholder="Ex. 40"
        type="number"
        formControlName="totalHours"
        min="0"
      />
    </mat-form-field>
  </div>

  <!-- INPUT DEL RANGO DE APLICACIÓN DEL CURSO -->
  <div class="fechas-container mb-2 mt-2">
    <label for="fechas" class="flex mb-2 text-x font-medium text-gray-900"
      >Fechas de aplicación</label
    >
    <mat-form-field class="w-full">
      <mat-label>Ingresa el periodo de aplicación de tu curso</mat-label>
      <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange">
        <input
          matStartDate
          placeholder="Fecha de inicio"
          formControlName="start"
        />
        <input matEndDate placeholder="Fecha final" formControlName="end" />
      </mat-date-range-input>
      <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <!-- INPUT PARA HORA -->
  <div class="mt-4 mb-2">
    <!-- INPUT PARA HORA DE ENTRADA -->
    <div class="hora-entrada-container mt-4 w-full" formGroupName="startTime">
      <label
        for="horaEntrada"
        class="flex mb-2 text-x font-medium text-gray-900"
        >Hora de entrada</label
      >
      <div class="flex space-x-2">
        <mat-form-field class="w-1/3">
          <mat-label>Horas</mat-label>
          <input
            matInput
            placeholder="Entre 1 y 12"
            type="number"
            formControlName="hours"
            min="1"
            max="12"
          />
        </mat-form-field>
        <mat-form-field class="w-1/3">
          <mat-label>Minutos</mat-label>
          <input
            matInput
            placeholder="Entre 0 y 59"
            type="number"
            formControlName="minutes"
            min="0"
            max="59"
          />
        </mat-form-field>
        <mat-form-field class="w-1/3">
          <mat-label>AM/PM</mat-label>
          <mat-select formControlName="period">
            <mat-option value="AM">a.m.</mat-option>
            <mat-option value="PM">p.m.</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- INPUT PARA HORA DE SALIDA -->
    <div class="hora-salida-container mb-4 w-full" formGroupName="endTime">
      <label for="horaSalida" class="flex mb-2 text-x font-medium text-gray-900"
        >Hora de salida</label
      >
      <div class="flex space-x-2">
        <mat-form-field class="w-1/3">
          <mat-label>Horas</mat-label>
          <input
            matInput
            placeholder="Entre 1 y 12"
            type="number"
            formControlName="hours"
            min="1"
            max="12"
          />
        </mat-form-field>
        <mat-form-field class="w-1/3">
          <mat-label>Minutos</mat-label>
          <input
            matInput
            placeholder="Entre 0 y 59"
            type="number"
            formControlName="minutes"
            min="0"
            max="59"
          />
        </mat-form-field>
        <mat-form-field class="w-1/3">
          <mat-label>AM/PM</mat-label>
          <mat-select formControlName="period">
            <mat-option value="AM">a.m.</mat-option>
            <mat-option value="PM">p.m.</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- CHECKBOXES PARA DÍAS DE LA SEMANA -->
  <div class="dias-container mt-2">
    <label for="dias" class="flex mb-2 text-x font-medium text-gray-900"
      >¿Qué días se dará el curso?</label
    >
    <div class="flex flex-wrap gap-4" formGroupName="daysOfWeek">
      <mat-checkbox
        *ngFor="let day of daysOfWeek"
        [formControlName]="day.value"
        >{{ day.name }}</mat-checkbox
      >
    </div>
  </div>

  <!-- INPUT PARA DURACIÓN DIARIA DEL CURSO EN HORAS -->
  <div></div>
</form>
