<div class="h-full">
  <h2 mat-dialog-title class="text-center">
    Duración total del curso: <b>{{ totalDuration }} horas</b>
  </h2>

  <mat-dialog-content class="flex flex-wrap h-full">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Fechas periódicas">
        <app-periodic-schedule [enableDateFilter]="enableDateFilter">
        </app-periodic-schedule>
      </mat-tab>
      <mat-tab label="Fechas personalizadas">
        <app-custom-schedule [enableDateFilter]="enableDateFilter">
        </app-custom-schedule>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <mat-dialog-actions class="">
    <button mat-flat-button mat-dialog-close>Cancelar</button>
    <button mat-flat-button (click)="generateSchedule()">
      Generar cronograma<mat-icon style="margin-right: 8px"
        >check_circle</mat-icon
      >
    </button>
  </mat-dialog-actions>
</div>
